# Notebooks Analysis Results

### Vengono importate
##### "os" per la gestione dei file,
##### "pandas" per la creazione del dataframe con i risultati di analisi
##### "utils", il modulo contenente le operazionalizzazioni delle best practice

In [1]:
import os
import utils
import pandas

### Ogni target notebook viene analizzato applicando le funzioni per l'analisi della qualità che rispecchiano le best practice individuate

In [2]:
data=[]
for filename in os.listdir("../TargetNotebooks/"):
       if filename.endswith(".ipynb"):
              py_code = utils.notebook_to_code(filename)
              notebook_dict = utils.notebook_to_json(filename)
              distribution = utils.markdown_distribution(notebook_dict)
              if utils.markdown_distribution(notebook_dict) is not None:
                     notebook_tuple=(filename,
                            utils.cells_correct_order(notebook_dict),
                            utils.classes_number(py_code),
                            utils.functions_number(py_code),
                            utils.imports_correct_position(py_code),
                            utils.markdown_lines(notebook_dict),
                            utils.markdown_titles(notebook_dict),
                            distribution[0],
                            distribution[1],
                            distribution[2],
                            distribution[3],
                            utils.not_executed_cells(notebook_dict),
                            utils.empty_cells(notebook_dict)
                            )
              else:
                     notebook_tuple=(filename,
                            utils.cells_correct_order(notebook_dict),
                            utils.classes_number(py_code),
                            utils.functions_number(py_code),
                            utils.imports_correct_position(py_code),
                            utils.markdown_lines(notebook_dict),
                            utils.markdown_titles(notebook_dict),
                            None,
                            None,
                            None,
                            None,
                            utils.not_executed_cells(notebook_dict),
                            utils.empty_cells(notebook_dict)
                            )
              data.append(notebook_tuple)
              os.remove(filename[:-5]+"py")
              continue
       else:
              continue

### Tutte le osservazioni riguardanti un notebook sono contenute in un'unica tupla, il dataframe viene dunque creato come una lista di tuple, assegnando i corrispondenti nomi alle osservazioni sulle colonne. Ogni riga è un target notebook.

In [3]:
df = pandas.DataFrame(data, columns =["Notebook Name","Correc Execution Order","Classes","Functions","Imports Correct Position","Markdown Rows","Markdown Titles","Markdown Distribution 1","Markdown Distribution 2","Markdown Distribution 3","Markdown Distribution 4","Non-executed Cells","Empty Cells"])
df

,Notebook Name,Correc Execution Order,Classes,Functions,Imports Correct Position,Markdown Rows,Markdown Titles,Markdown Distribution 1,Markdown Distribution 2,Markdown Distribution 3,Markdown Distribution 4,Non-executed Cells,Empty Cells
0,my-attempt-at-analytics-vidhya-job-a-thon.ipynb,True,0,3,False,7,2,0.285714,0.571429,0.142857,0.000000,0,3
1,statistics-for-ml-data-analysis.ipynb,True,0,0,False,120,21,0.364407,0.135593,0.118644,0.381356,0,35
2,stroke-prediction-beginner-s-guide.ipynb,True,0,1,False,58,2,0.068966,0.413793,0.465517,0.051724,0,0