# Notebooks Analysis Results

### Imports
* "os" per la gestione dei file,
* "pandas" per la creazione del dataframe con i risultati di analisi
* "pynblint", il modulo contenente le operazionalizzazioni delle best practice
* "config" per la dinamicità dei percorsi di progetto
* "entities" per modellare i soggetti dello studio (Notebooks, ecc.)

In [1]:
import os
import pynblint
import pandas
import config
import entities

### Processing

Ogni target notebook viene analizzato applicando le funzioni per l'analisi della qualità che rispecchiano le best practice individuate

In [2]:
data=[]
for filename in os.listdir(config.data_path):
       if filename.endswith(".ipynb"):
              notebook = entities.Notebook(config.data_path+filename)
              result = notebook.get_pynblint_results()
              data.append(result)
              os.remove(filename[:-5]+"py")

### Display results

Tutte le osservazioni riguardanti un notebook sono contenute in un'unica tupla, il dataframe viene dunque creato come una lista di tuple, assegnando i corrispondenti nomi alle osservazioni sulle colonne. Ogni riga è un target notebook.

In [3]:
df = pandas.DataFrame(data)
df

,notebookName,numberOfCells,numberOfMDCells,numberOfCodeCells,numberOfRawCells,linearExecutionOrder,numberOfClassDefinitions,numberOfFunctionDefinitions,allImportsInFirstCell,numberOfMarkdownLines,numberOfMarkdownTitles,bottomMarkdownLinesRatio,nonExecutedCells,emptyCells,bottomNonExecutedCells,bottomEmptyCells
0,my-attempt-at-analytics-vidhya-job-a-thon.ipynb,78,4,74,0,True,0,3,False,7,2,0.0,0,3,0,2

## Analysis of a github repository

In [4]:
repo = entities.GitHubRepository('https://github.com/collab-uniba/Sentiment_Analysis_4SE_BERT')

In [5]:
data=[]
for notebook in repo.notebooks:
    result = notebook.get_pynblint_results()
    data.append(result)
dataframe = pandas.DataFrame(data)
dataframe

,notebookName,numberOfCells,numberOfMDCells,numberOfCodeCells,numberOfRawCells,linearExecutionOrder,numberOfClassDefinitions,numberOfFunctionDefinitions,allImportsInFirstCell,numberOfMarkdownLines,numberOfMarkdownTitles,bottomMarkdownLinesRatio,nonExecutedCells,emptyCells,bottomNonExecutedCells,bottomEmptyCells
0,Sentiment_Analysis_4SE_BERT/notebooks/cross-pl...,13,0,13,0,True,0,0,False,0,0,0.0,0,0,0,0
1,Sentiment_Analysis_4SE_BERT/notebooks/github-w...,17,0,17,0,True,0,0,False,0,0,0.0,0,0,0,0
2,Sentiment_Analysis_4SE_BERT/notebooks/jira-w-b...,17,0,17,0,True,0,0,False,0,0,0.0,0,0,0,0
3,Sentiment_Analysis_4SE_BERT/notebooks/stackove...,18,1,17,0,True,0,0,False,1,0,0.0,0,0,0,0