# Using pynblint

### Imports

In [1]:
import os
import pandas as pd
from pathlib import Path

from pynblint.notebook import Notebook
from pynblint.repository import LocalRepository, GitHubRepository

In [2]:
cols = [
    "Notebook Name", 
    "Total cells",
    "MD cells",
    "Code cells",
    "Raw cells",
    "Linear Execution Order",
    "Classes",
    "Functions",
    "Imports in First Cell",
    "Markdown Lines",
    "Markdown Titles",
    "Bottom MD Lines Ratio",
    "Non-executed Cells",
    "Empty Cells",
    "Bottom Non-executed Cells",
    "Bottom Empty Cells",   
]

## Analysis of a github repository

In [3]:
repo = GitHubRepository('https://github.com/collab-uniba/Sentiment_Analysis_4SE_BERT')

In [4]:
df = pd.DataFrame()

for notebook in repo.notebooks:
    df_row = pd.json_normalize(notebook.get_pynblint_results())
    df_row.columns = cols
    df = pd.concat([df, df_row])
    
df

,Notebook Name,Total cells,MD cells,Code cells,Raw cells,Linear Execution Order,Classes,Functions,Imports in First Cell,Markdown Lines,Markdown Titles,Bottom MD Lines Ratio,Non-executed Cells,Empty Cells,Bottom Non-executed Cells,Bottom Empty Cells
0,notebooks/stackoverflow-w-bert.ipynb,18,1,17,0,True,0,0,False,1,0,0.0,0,0,0,0
0,notebooks/github-w-bert.ipynb,17,0,17,0,True,0,0,False,0,0,0.0,0,0,0,0
0,notebooks/cross-platform-w-bert.ipynb,13,0,13,0,True,0,0,False,0,0,0.0,0,0,0,0
0,notebooks/jira-w-bert.ipynb,17,0,17,0,True,0,0,False,0,0,0.0,0,0,0,0

## Analysis of a local folder

In [5]:
repo = LocalRepository(Path('../tests/fixtures'))

df = pd.DataFrame()

for notebook in repo.notebooks:
    df_row = pd.json_normalize(notebook.get_pynblint_results())
    df_row.columns = cols
    df = pd.concat([df, df_row])
    
df

,Notebook Name,Total cells,MD cells,Code cells,Raw cells,Linear Execution Order,Classes,Functions,Imports in First Cell,Markdown Lines,Markdown Titles,Bottom MD Lines Ratio,Non-executed Cells,Empty Cells,Bottom Non-executed Cells,Bottom Empty Cells
0,stroke-prediction-beginner-s-guide.ipynb,32,13,19,0,True,0,1,False,58,2,0.034483,0,0,0,0
0,statistics-for-ml-data-analysis.ipynb,162,58,104,0,True,0,0,False,120,21,0.025000,0,35,0,4
0,my-attempt-at-analytics-vidhya-job-a-thon.ipynb,78,4,74,0,True,0,3,False,7,2,0.000000,0,3,0,2